<h2>Data Binding</h2>
<h4>{{ name || '誰' }} 吃了 {{ number || '?' }} 個肉包</h4>
<input type="text" ng-model="name">
<input type="text" ng-model="number">

<pre><code class="html">
&lt;h3&gt;&#123;&#123; name || '誰' &#125;&#125; 吃了 &#123;&#123; number || '?' &#125;&#125; 個肉包&lt;/h3&gt;
&lt;input type="text" ng-model="name"&gt;
&lt;input type="text" ng-model="number"&gt;
</code></pre>

<h4>單向資料綁定</h4>
<img src="images/data-bind-1.png" alt="">


<h4>雙向資料綁定</h4>
<img src="images/data-bind-2.png" alt="">
