<h2>依賴注入 Dependency Injection</h2>

<h4>控制反轉</h4>
<p>Inversion of Control (IoC)，一種物件導向程式設計的設計原則，可以降低程式碼的耦合</p>

<h4>依賴注入</h4>
<p>透過名稱來判斷，將不同的物件注入到不同的屬性。</p>

<h4>Angular 的實現</h4>
<p>DI Library <a href="https://github.com/angular/di.js">https://github.com/angular/di.js</a></p>
<ol>
    <li>Function 的 toString()</li>
    <li>正規表達式解析參數名稱</li>
    <li>找出對應的物件放到陣列傳遞過去</li>
    <li>func.apply() 調用 function 並把參數傳進去</li>
</ol>
<snippet>
var DataBindingController = function($log, $scope) {

    $scope.name = '';
    $scope.number = 0;

};

module.exports = [ '$log', '$scope', DataBindingController ];
</snippet>
<a href="#/dirty-check">Prev</a>
<a href="#/module">Next</a>