<h2>優缺點</h2>
<div>
    <h4>優點</h4>
    <ul>
        <li>只傳輸資料，傳輸量較小</li>
        <li>有助於 RESTful API 開發</li>
        <li>無商業邏輯的運算分散給 Client 承擔</li>
        <li>關注點分離</li>
        <li>依賴注入(Dependency Injection)</li>
        <li>雙向資料綁定(Two-way Data binding)</li>
        <li>用 HTML 作為模板語言</li>
        <li>擴充 HTML 符合目前未來發展方向</li>
    </ul>
</div>
<div>
    <h4>缺點</h4>
    <ul>
        <li>學習曲線陡</li>
        <li>綁定數過高時，效能不好</li>
        <li>DOM 操作的 Library 要包一層 directive</li>
        <li>前端的負擔變重</li>
        <li>SEO 需要多花功夫</li>
    </ul>
</div>